* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Noto Sans TC;
}

body {
  background-color: #212529;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #76D8CA;
}

#nav ul li {
  display: inline-block;
  padding: 20px;
}

#nav a {
  color: #164036;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  margin-top: 30vh;
  margin-left: 2vw;
}

#nav a:hover {
  font-size: 18px;
  color: white;
}

#nav #mini-title {
  font-size: 20px;
}

#header {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header * {
  color: white;
}

#header #main {
  margin-top: 10vh;
}

#header #logo {
  margin-left: 20vw;
  width: 200px;
  border-radius: 100%;
  text-align: center;
}

#header #book {
  margin-top: 10vh;
  padding: 30px;
  margin-left: 15vw;
  margin-right: 2vw;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 5px 5px white;
          box-shadow: 5px 5px white;
  background-color: white;
}

#header #book * {
  color: black;
  margin-top: 10px;
}

#header #book button {
  margin-top: 100%;
  font-size: 20px;
  border: none;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header #book button:active {
  background-color: gray;
}

#header #book button:hover {
  font-size: 25px;
}

#header #title {
  font-family: Palanquin;
  font-size: 80px;
  -webkit-transition: font-size 0.8s;
  transition: font-size 0.8s;
  margin-left: 12.5vw;
  text-align: center;
}

#container-title {
  font-family: Palanquin;
  font-size: 80px;
  color: #87FBED;
  margin-bottom: 120px;
  margin-top: 120px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  text-align: center;
}

#container-title:hover {
  font-size: 90px;
}

.container {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5vw;
  -webkit-box-shadow: 10px 10px 100px grey;
          box-shadow: 10px 10px 100px grey;
  background-color: white;
}

.container p {
  margin-top: 10px;
  font-size: 19px;
}

#footer {
  width: 100%;
  background-color: #76D8CA;
}

#footer li {
  display: inline-block;
}

#footer li * {
  margin-left: 10px;
}

#footer #team {
  padding: 20px;
}

#footer #contact {
  padding: 20px;
}

#footer p {
  color: #164036;
  font-size: 16px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#footer p.mini-title {
  margin-top: 10px;
  font-size: 20px;
}

#footer h3 {
  color: #102E28;
  font-size: 22px;
}

#footer img {
  width: 125px;
  border-radius: 100%;
}

@media screen and (max-width: 600px) {
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header #logo {
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
  }
  #header #title {
    margin: 0;
  }
  #header #book {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
/*# sourceMappingURL=style.css.map */